header h1  {
    width: 210px; 
    margin: 10px auto;
    
}
header h2 {
    background-color: aqua;
    width: 300px;
    padding:0 10px;
    box-sizing: border-box;
    margin: 10px auto;
    border-radius: 5px;
}
main{
    width: 95%;
    /* min-height: 100vh; */
    margin: auto;
    background-color:rgb(145, 143, 140);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
 img{
    display: block;
    width: 400px;
    height: 400px;
    margin:  auto;
    border-radius: 10px;

}
h4{
    margin: auto;
    width: 420px;           
    padding-top: 15px;
    
}

ul{
    margin: auto;
    margin-top: 15px;
    width: 75%;
}
.paragragh{
    background-color:rgb(191, 209, 209);
    box-sizing: border-box;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 60%;
    margin: auto;
    margin-top: 20px;
    
    
}
footer{
    background-color: aqua;
    font-size:12px;
    height: 30px;
    padding:10px 10px;
    border-radius: 5px;
}
footer p{
    width: 95%;
    margin:5px auto;

}


a:visited{
    color: red;
}
a:focus{
    padding: 3px;
}